{% extends "base.html" %}
{% block title %}
    Alexussaha
{% endblock %}

{% block body %}

<div class="text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Welcome to Alexussaha's project!</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      First project with github pages
    </p>
</div>



<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-3">
      <h2>Some text</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex recusandae esse maiores eaque cum, est voluptate quaerat ut ipsa suscipit neque culpa excepturi, reprehenderit, voluptatibus quasi atque sint mollitia minima.</p>
    </div>

    <div class="col-lg-3">
      <h2>Another Text</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, alias itaque ad inventore dicta quisquam expedita cupiditate tenetur nihil magnam et esse, tempore dolorum veniam eum quia quasi voluptatem nostrum.</p>
    </div>


  </div>
</div>
{% endblock %}